.flex-container {
  display: flex;
  width: 75%;
  align-content: space-around;
}

.ng-tns-c277-10 .ng-trigger .ng-trigger-transformPanel .mat-select-panel {
  width: 150px !important;
  margin-left: 20px !important;
}