@font-face {
  font-family: 'Roboto-Bold';
  src: url('/assets/fonts/Roboto-Bold.ttf');
 }

@font-face {
  font-family: 'Roboto-Light';
  src: url('/assets/fonts/Roboto-Light.ttf');
 }

@font-face {
  font-family: 'Roboto-Medium';
  src: url('/assets/fonts/Roboto-Medium.ttf');
 }

 @font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.ttf');
 }


 @font-face {
  font-family: 'Raleway-Regular';
  src: url('/assets/fonts/Raleway-Regular.ttf');
 }

 
 @font-face {
  font-family: 'Raleway-Bold';
  src: url('/assets/fonts/Raleway-Bold.ttf');
 }

 
 @font-face {
  font-family: 'Raleway-Black';
  src: url('/assets/fonts/Raleway-Black.ttf');
 }

 
 @font-face {
  font-family: 'Raleway-Light';
  src: url('/assets/fonts/Raleway-Light.ttf');
 }

 
 @font-face {
  font-family: 'Raleway-Thin';
  src: url('/assets/fonts/Raleway-Thin.ttf');
 }