@import "../../../assets/scss/index";

.nav-user-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 1em;
  div {
    padding-left: 5px;
  }
}

.example-spacer {
  flex: 1 1 auto;
  padding: auto;
}

.mat-toolbar {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0px;
}

.pad-left-15 {
  padding-left: 15px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}


.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.dashboard-title h1 {
  color: #ced4da;
  display: inline;
  height: 450px;
  word-spacing: 47px;
  font-size: 33px;
  -ms-transform: rotate(270deg); /* IE 9 */
  transform: rotate(270deg);
  vertical-align: middle;
  margin-top: 8rem;
  @media only screen and (max-width: 767px) {
    font-size: 20px;
    height: 320px;
    word-spacing: 50px;
    margin-top: 9rem;
  }
  @media only screen and (max-width: 2559px) {
    font-size: 34px;
    height: 660px;
    word-spacing: 150px;
    margin-top: 14rem;
  }
}
.hideText {
  margin-left: 3rem;
}

.settings {
  vertical-align: top;
  margin: 0px 7px;
}

.mat-drawer-content {
  height: 800px;
  overflow: hidden !important;
  @media only screen and (max-width: 2559px) {
    height: 1050px;
  }
}