@import "../../../assets/scss/index";


.nav-user-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 1em;
  div {
    padding-left: 5px;
  }
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    min-width: 5rem;
    padding: .2rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.example-spacer {
  flex: 1 1 auto;
}


// ::ng-deep .modal-lg { 
//   max-width: 95%;
//   width: 95%;
// }

// .navbar-brand {
//   padding-top: 0.75rem;
//   padding-bottom: 0.75rem;
//   padding-left: 1rem;
//   font-size: 1rem;
//   width: 250px;
//   margin: 0;
// }

// body a                      { color:#48557e ;           }
// #yt_header                  { background-color:#3b746b ;}
// #yt_spotlight               { background-color:#f1f1f1 ;}
// #yt_spotlight9              { background-color:#48557e ;}
// #yt_spotlight7, #yt_footer  { background-color:#3b746b ;}

// .navbar {
//   .button-wrapper {
//     display: flex;
//     justify-content: space-between;
//     flex-grow: 1;
//     flex-wrap: wrap-reverse;
//     align-items: center;
//     margin: 5px 0px;
//   }
//   .header-tagline {
//     font-family: "Lato-Bold";
//     font-size: 16px;
//     font-weight: 700;
//     padding: 10px 25px;
//   }
//   .form-control {
//     padding: 0.75rem 1rem;
//     border-width: 0;
//     border-radius: 0;
//   }
//   .form-control-dark {
//     color: #fff;
//     background-color: rgba(255, 255, 255, 0.1);
//     border-color: rgba(255, 255, 255, 0.1);
//     &:focus {
//       border-color: transparent;
//       box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
//     }
//   }
//   .btn-login {
//     color: #fff;
//     &:hover {
//       text-decoration: none;
//     }
//   }
//   fa-icon {
//     margin-right: 4px;
//   }
//   #user-dropdown {
//     text-decoration: none;
//     &:hover {
//       text-decoration: none;
//     }
//   }
//   #reportDropdown {
//     .dropdown-menu {
//       margin-top: 0;
//       margin-left: 0;
//     }
//     .create-incident-ddbtn{
//       color: #fff;
//       cursor: pointer;
//       padding: 10px;
//       &:hover{
//         background-color: #fff;
//         color: $undp-jtf-secondary-color;
//       }
//     }
//   }
//   .dropdown-toggle::after {
//     opacity: 0.5;
//   }
//   .dropdown-menu {
//     position: absolute;
//     margin-top: 15px;
//     margin-left: -24px;
//     border-top-left-radius: unset;
//     border-top-right-radius: unset;
//     background-color: $undp-jtf-primary-color-transparent;
//     font-size: 14px;
//     .dropdown-item {
//       color: #fff;
//       &:hover {
//         color: $undp-jtf-accent-color;
//         background-color: unset;
//       }
//     }
//     &.notifications-dropdown {
//       right: -17px;
//       left: unset;
//       width: 400px;
//       padding-top: 4px;
//       padding-bottom: unset;
//       max-height: 50vh;
//       overflow-y: scroll;
//       overflow-x: hidden;
//       padding: 0;
//       @media (max-width: 767px) {
//         width: calc(100vw + 2px);
//         max-height: calc(100vh - 48px);
//       }
//     }
//   }
//   .unread-notifications {
//     position: absolute;
//     top: 4px;
//     right: 0;
//     font-size: 6px;
//     color: red;
//   }
//   .rightSideContainer {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin: 0 1em;
//     flex-basis: 180px;
//   }
// }

// .main-container {
//   display: flex;
// }

// .main-body {
//   flex-grow: 1;
// }

// .sidebar {
//   flex-basis: 250px;
//   flex-direction: column;
//   display: flex;
//   height: calc(100vh - 57px);
//   min-width: 250px;

//   .sidebar-sticky {
//     justify-content: center;
//     height: 100%;
//     margin-top: 10px;
//   }
//   .sidebar-heading {
//     font-size: 0.75rem;
//     text-transform: uppercase;
//   }
//   .nav-link {
//     font-weight: 500;
//     color: #333;
//     &.active {
//       color: $undp-jtf-accent-color;
//     }
//     &.active,
//     &.hover {
//       .feather {
//         color: inherit;
//       }
//     }
//     fa-icon {
//       margin-right: 4px;
//     }
//   }
//   @supports ((position: -webkit-sticky) or (position: sticky)) {
//     .sidebar-sticky {
//       position: -webkit-sticky;
//       position: sticky;
//     }
//   }
// }

// [role="main"] {
//   padding-top: 133px; /* Space for fixed navbar */
// }
// @media (min-width: 768px) {
//   [role="main"] {
//     padding-top: 48px; /* Space for fixed navbar */
//   }
// }

// @media (max-width: 688px) {
//   .appLabel {
//     flex-grow: 1;
//   }
//   .btnCreateIncident {
//     margin: 1em 1em 0.5em 1em;
//   }
//   .navbar {
//     .button-wrapper {
//       margin: 0.5em 0;
//       flex-wrap: wrap-reverse;
//     }
//   }
// }

// .footer {
//   position: absolute;
//   bottom: 6px;
//   left: 8px;
//   width: calc(100% - (8px * 2));
//   font-size: 12px;
//   a {
//     &:hover {
//       text-decoration: none;
//     }
//   }
// }
// .dropdown-item-checked::before {
//   position: absolute;
//   left: 0.4rem;
//   content: "\2713";
//   font-weight: 600;
// }

// #langDropdown {
//   .dropdown-item {
//     color: #fff;
//     &:hover {
//       color: #fff;
//       background-color: unset;
//     }
//   }
// }
// .offline {
//   color: rgb(128, 128, 128);
// }
// .online {
//   color: rgb(11, 161, 11);
// }
// .networkIcon {
//   margin: 0px 0px -28px -24px;
// }

// .circleUserAvatar {
//   border: 1px solid #264952;
//   width: 30px;
//   height: 30px;
// }

// .messageIcon {
//   width: 24px;
//   float: left;
//   height: 24px;
//   opacity: 1;
//   margin-left: 45%;
// }

// .padLeft50 {
//   padding-left: 50%;
// }

// .margLeft45 {
//   margin-left: 45%;
// }

// .notifRow {
//   display: flex;
//   margin-left: 61%;
// }

// .margLeft2 {
//   margin-left: 2%;
// }

// .margLeft4 {
//   margin-left: 4%;
// }

// .margLeft3 {
//   margin-left: -3%;
// }

// .margLeft1 {
//   margin-left: 1%;
// }

// .displayBlock {
//   display: block;
// }

// .displayFlex {
//   display: flex;
// }

// .userProfileText {
//   text-align: left;
//   letter-spacing: 0px;
//   color: #264952;
//   opacity: 1;
//   font-size: 0.9em;
// }

// .logoutText {
//   text-align: left;
//   letter-spacing: 0px;
//   color: #264952;
//   font-size: 0.8em;
//   opacity: 1;
// }

// .bgWhite {
//   background-color: #ffffff;
// }

// .createReportDiv {
//   border: 1px solid $undp-jtf-accent-color;
//   border-radius: 10px;
//   display: flex;
//   opacity: 1;
//   margin-left: 1%;
//   width: 11.3em;
//   padding: 0.5%;
// }

// .sideBarChildren {
//   font-size: 12px;
// }

// .plusIcon {
//   padding-left: 24%;
//   font-size: 26px;
//   color: $undp-jtf-accent-color;
//   font-weight: bold;
// }

// .padLeft3 {
//   padding-left: 3%;
// }

// .btnCreateIncident {
//   margin-left: 15px;
//   border-radius: 10px;
//   opacity: 1;
//   min-width: 146px;
// }

// .btnCreateIncident.focus,
// .btnCreateIncident:focus {
//   box-shadow: none;
// }
// .createReportSpan {
//   display: flex;
//   font-size: 1.2em;
//   padding-left: 11%;
//   white-space: nowrap;
//   font-family: "Roboto-Light";
//   color: $undp-jtf-accent-color;
// }
// .roundCircle {
//   border-radius: 50%;
//   border: 1px solid #264952;
//   width: 45px;
//   height: 45px;

//   &.countryCodeText {
//     font-size: 1em;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-weight: bold;
//     color: #000000;
//     text-transform: uppercase;
//     margin-right: 0.5em;
//     margin-left: 1em;
//   }
// }
// .appLabel {
//   text-transform: uppercase;
//   color: #ffffff;
//   font-family: "Lato-Bold";
//   font-size: 1.4em;
//   text-align: left;
//   letter-spacing: 0px;
//   // background-color: $undp-jtf-secondary-color;
// }

// .nav-user-info {
//   display: flex;
//   align-items: center;
//   flex-direction: row;
//   margin-left: 1em;
//   div {
//     padding-left: 5px;
//   }
// }

// .height90 {
//   height: 90vh;
// }

// .padSideBarList {
//   padding: 1em;
// }

// .sideBarListText {
//   padding-left: 0.2em;
//   font-size: 1rem;
//   font-weight: bold;
// }

// .childItem {
//   padding-left: 2em;
//   letter-spacing: 0px;
//   color: #264952;
//   opacity: 1;
//   font-size: 12px;
//   display: block;
//   opacity: 0.98;
//   .childLink {
//     p {
//       margin-bottom: 0;
//     }
//   }
// }

// .dividerLine {
//   background-color: grey;
//   margin-top: 0;
// }

// .childLink {
//   color: #264952;
//   text-decoration: none;
// }

// .fontSize12 {
//   font-size: 12px;
// }

// .fontSize16 {
//   font-size: 16px;
// }

// ::placeholder {
//   color: #264952;
//   text-align: left;
//   letter-spacing: 0px;
//   opacity: 0.3;
// }

// .floatRight {
//   float: right;
// }

// .first-group {
//   display: flex;
//   flex-direction: column;
//   margin-top: -2px;
// }

// .second-group {
//   display: flex;
//   flex-direction: column;
// }

// .customFlexNav {
//   display: flex;
//   height: 100%;
//   justify-content: space-between;
//   flex-wrap: nowrap;
// }

// .first-group span.childItem:hover {
//   background: $undp-jtf-accent-color;
//   width: 100%;
//   border-left: 5px solid #92d46a !important;
//   a.childLink {
//     color: white;
//   }
// }

// .second-group span.childItem:hover {
//   background: $undp-jtf-accent-color;
//   width: 100%;
//   border-left: 5px solid #92d46a !important;
//   a.childLink {
//     color: white;
//   }
// }

// .navItemParentLink {
//   color: #000000;
//   flex-grow: 1;
// }

// .category-title {
//   margin: 0.5em 0;
//   display: flex;
//   align-items: center;
//   gap: 10px;
// }

// .notification-row {
//   display: flex;
//   width: 2em;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

.pad-left-15 {
  padding-left: 15px;
}

// .bg-main-body {
//   background: #fafafa 0% 0% no-repeat padding-box;
//   opacity: 0.98;
// }

// .custom-btn-create-incident {
//   color: $undp-jtf-accent-color;
//   border: 1px solid $undp-jtf-accent-color;
//   margin-left: 8px;
//   border-radius: 10px;
//   opacity: 1;
// }

// .txt-create-incident {
//   padding-left: 5px;
//   vertical-align: middle;
// }

// .dropdown-lang-item {
//   cursor: pointer;
//   text-transform: uppercase;
// }

// .bell-color {
//   color: #000000;
// }
// .createReport.dropdown-toggle::after {
//   display: none !important;
// }
// .createReport .custom-btn-create-incident {
//   border: none;
//   color: #fff;
// }
// .circle-dot {
//   border: none;
// }
