@import "../../../assets/scss/index";

.nav-user-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 1em;
  div {
    padding-left: 5px;
  }
}

.example-spacer {
  flex: 1 1 auto;
  padding: auto;
}

.mat-toolbar {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 25px;
}

.pad-left-15 {
  padding-left: 15px;
}

