.flex-container {
  display: flex;
  width: 75%;
  align-content: space-around;
}

mat-raised-button {
  margin: 3px 0px 0px 10px;
}

.cdk-overlay-pane .user-dialog {
  max-width: 100vw !important;
  position: static !important;
}