table {
  width: 100%;
}
.adduser {
  padding: 0px 5px 0px 0px;
  margin-top: 1rem;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.tab-section {
  margin: 3px 0px 0px 10px;
}

