$undp-jtf-primary-color: #42589e;
$undp-jtf-primary-color-transparent: aliceblue;
$undp-jtf-secondary-color: #3b746b;
$undp-jtf-text-color: #1d2832;
$undp-jtf-accent-color: #3b746b;
$undp-jtf-bg-color: #fff;
$undp-jtf-dark-bg-color: #EF9F50;
$undp-jtf-active-card-color: #92D46A;
$undp-jtf-dark-light-bg-color: #FCFFFA;
$undp-jtf-text-dark-bg-color: #fff;
$undp-jtf-link-dark-bg-color: #fff;
$undp-jtf-link-dark-bg-hover-color: #4282c2;
$undp-jtf-status-verified-color: #4ceb0d;
$undp-jtf-status-warning-color: #ffc107;
$undp-jtf-status-unverified-bg-color:#fff3cd;
$undp-jtf-status-unverified-color:#856404;
$undp-jtf-status-evaluated-color: #4282c2;
$undp-jtf-status-responded-color:#007bff;
$undp-jtf-region-border-color: #e45d5dd8;



