# qVPN artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Rust artifacts
target/

# Node artifacts
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Go artifacts
*.exe
*.test
*.prof

# Java/Kotlin artifacts
*.class
*.jar
*.war
*.ear
build/
.gradle/

# PHP
vendor/

# R
.Rhistory
.RData
.Ruserdata

# MATLAB
*.asv
*.mex*

# General
.DS_Store
Thumbs.db
