.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border: 0px !important;
}

.flex-template-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0.3em;
  align-items: center;
  max-width: 100%;
}

.flex-report-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3.5em;
  margin-left: 2em;
  margin-right: 1em;
  gap: 2em;
  min-width: 80%;
}

.flex-custom-date-row {
  display: flex;
}

.marg-left-1 {
  margin-left: 1em;
}

.label-line-height {
  line-height: 2.5rem;
}

.custom-report-duration:nth-last-child(2) {
  flex-grow: 1;
  margin-bottom: .5rem;
}

.informative-text {
  margin-left: 15px;
  font-size: 12px;
  font-family: "fontRobotoThin";
}

.flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
}

.flex-gap > div {
  margin: 15px;
}

.published p {
    margin-top: -1rem;
    right: 0;
    position: absolute;
    color: #7E9E0A;
    @media (min-width:768px) {
      margin-top: -3.5rem;
      width: 5em;
      color: #7E9E0A;
      right: 11px;
      position: absolute;
      text-align: center;
    }
}

.custom-report-info {
  font-size: 1em;
  margin: 2em;
}