<div class="published">
    <p *ngIf="totalPublished">
      {{ totalPublished[0].count }} {{ 'TICKETS_COMPLETED' | translate }}
    </p>
</div> 
<div class="row">
  <div class="d-inline-flex flex-wrap" style="margin-top: -10px;">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'START' | translate }}</mat-label>
     <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left: 10px;">
      <mat-label>{{ 'END' | translate }}</mat-label>
     <input matInput [matDatepicker]="picker2" [min]="startDate" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
     <div style="margin: 20px 0px 0px 10px;"><button  mat-raised-button (click)="getStatisticsByDates()">{{'APPLY'|translate}}</button></div>
  </div>
<mat-grid-list
  [cols]="breakpoint"
  rowHeight="5:2"
  *ngIf="isData"
  (window:resize)="onResize($event)"
  [gutterSize]="'3px'"
>
  <mat-grid-tile>
    <mat-grid-tile-header>
      <p class="fontRalewayRegular text-uppercase">
        {{ 'ALL_TICKETS_BY_TYPE' | translate }}
      </p>
    </mat-grid-tile-header>
    <iverify-charts *ngIf="ticketsByType && ticketsByType.length > 0" [chartType]="1" [data]="ticketsByType"></iverify-charts>
    <span  *ngIf="ticketsByType && ticketsByType.length === 0" class="fontRalewayRegular text-uppercase">
       {{ 'NO_RECORDS' | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      <p class="fontRalewayRegular text-uppercase">
        {{ 'ALL_TICKETS_BY_TAG' | translate }}
      </p>
    </mat-grid-tile-header>
    <iverify-charts *ngIf="ticketsByTag && ticketsByTag.length > 0"  [chartType]="1" [data]="ticketsByTag"></iverify-charts>
    <span  *ngIf="ticketsByTag && ticketsByTag.length === 0" class="fontRalewayRegular text-uppercase">
       {{ 'NO_RECORDS' | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header >
      <p class="fontRalewayRegular text-uppercase">
        {{ 'ALL_TICKETS_BY_CHANNEL' | translate }}
      </p>
    </mat-grid-tile-header>
    <iverify-charts *ngIf="ticketsByChannel && ticketsByChannel.length > 0" [chartType]="1" [data]="ticketsByChannel"></iverify-charts>
    <span  *ngIf="ticketsByChannel && ticketsByChannel.length === 0" class="fontRalewayRegular text-uppercase">
       {{ 'NO_RECORDS' | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      <p class="fontRalewayRegular text-uppercase">
        {{ 'CURRENT_STATUS' | translate }}
      </p>
    </mat-grid-tile-header>
    <div style="margin-top: 3rem">
      <iverify-charts
        *ngIf="ticketsByCurrentStatus && ticketsByCurrentStatus.length > 0"
        [chartType]="3"
        [data]="ticketsByCurrentStatus"
      ></iverify-charts>
      <span  *ngIf="ticketsByCurrentStatus && ticketsByCurrentStatus.length === 0" class="fontRalewayRegular text-uppercase">
       {{ 'NO_RECORDS' | translate }}
      </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      <p class="fontRalewayRegular text-uppercase">
        {{ 'STATUS_BY_WEEK' | translate }}
      </p>
    </mat-grid-tile-header>
    <div style="margin-top: 5rem">
      <iverify-charts *ngIf="ticketsByWeek && ticketsByWeek.length > 0" [chartType]="2" [data]="ticketsByWeek"></iverify-charts>
      <span  *ngIf="ticketsByWeek && ticketsByWeek.length === 0" class="fontRalewayRegular text-uppercase">
       {{ 'NO_RECORDS' | translate }}
      </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      <p class="fontRalewayRegular text-uppercase">
        {{ 'TICKETS_BY_AGENT' | translate }}
      </p>
    </mat-grid-tile-header>
    <iverify-charts *ngIf="ticketsByAgents && ticketsByAgents.length > 0" [chartType]="4" [data]="ticketsByAgents"></iverify-charts>
    <span  *ngIf="ticketsByAgents && ticketsByAgents.length === 0" class="fontRalewayRegular text-uppercase">
       {{ 'NO_RECORDS' | translate }}
      </span>
  </mat-grid-tile>
</mat-grid-list>
<div class="row mt-2" *ngIf="this.isData">
<mat-form-field appearance="fill" class="response-label">
      <mat-label>{{'RESPONSE_VELOCITY'|translate}}</mat-label>
        <mat-select
          (selectionChange)="getAllTicketsData()"
          [(ngModel)]="selectedTimeType"
        >
          <mat-option [value]="1" >
            {{ 'RESPONSE_TIME' | translate }}
          </mat-option>
          <mat-option [value]="2">
            {{ 'RESOLVE_TIME' | translate }}
          </mat-option>
        </mat-select>
        
      </mat-form-field>
      <mat-label
        class="fontRalewayRegular text-uppercase text-center">
        {{
          responseVelocity|translate
        }}
      </mat-label>
    <div class="row mt-3 bubble-chart">
      <iverify-charts
      [chartType]="5"
      [viewVal]="bubbleChartViewSize"
      [data]="bubbleData"
    ></iverify-charts>
    </div>
</div>   
</div>
<div>
  <p
    class="custom-report-info marg-left-1"
    *ngIf="!this.isData"
  >
    {{ 'NO_RECORDS' | translate }}
  </p>
</div>


