  <div class="card">
    <div class="card-header">
      <div class="flex-custom-date-wrapper">
        <div class="flex-custom-date-row">
          <div>
            <label class="fontRobotoRegular font-report-text label-line-height">{{
          'FROM_DATE' | translate
          }}</label>
          </div>
          <input class="marg-left-1 form-control" ngbDatepicker #fromDate="ngbDatepicker" [(ngModel)]="fromdate" />
          <div>
            <button class="btn btn-outline-secondary"
              style="border-top-right-radius: 4px !important; border-bottom-right-radius: 4px;"
              (click)="fromDate.toggle()" type="button">
              <fa-icon [icon]="'calendar-alt'"></fa-icon>
            </button>
          </div>
        </div>
        <div class="flex-custom-date-row">
          <div>
            <label class="fontRobotoRegular font-report-text label-line-height">{{
          'TO_DATE' | translate
          }}</label>
          </div>
          <input class="marg-left-1 form-control" ngbDatepicker #toDate="ngbDatepicker" [(ngModel)]="todate" />
          <div>
            <button class="btn btn-outline-secondary"
              style="border-top-right-radius: 4px !important; border-bottom-right-radius: 4px;"
              (click)="toDate.toggle()" type="button">
              <fa-icon [icon]="'calendar-alt'"></fa-icon>
            </button>
          </div>
        </div>
        
        <div>
          <button [disabled]="!(fromDate && todate)" [ngClass]="{'btn-outline-secondary': !(fromDate && todate)}" class="btn marg-right-2 pad-0 btn-round-border btn-outline-primary" (click)="getStatistics()">
            {{ 'APPLY' | translate }}
          </button>
        </div>
        <div class="published">
          <p *ngIf="totalPublished">{{totalPublished[0].count}} {{'TICKETS_COMPLETED'|translate}}</p>
        </div>
      </div>
    </div>
    <p class="custom-report-info marg-left-1"  *ngIf="(statData && (statData.results | json) === ({} | json))">
        {{ 'NO_RECORDS' | translate }}
      </p>
    <div class="card-body" *ngIf="(statData && (statData.results | json) !== ({} | json))">
      <div class="row m-3 p-4">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <h5 class="text-uppercase">{{'ALL_TICKETS_BY_TYPE'|translate}}</h5>
          <iverify-charts [chartType]="1" [data]="ticketsByType"></iverify-charts>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <h5 class="text-uppercase">{{'ALL_TICKETS_BY_TAG'|translate}}</h5>
          <iverify-charts [chartType]="1" [data]="ticketsByTag"></iverify-charts>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <h5 class="text-uppercase">{{'ALL_TICKETS_BY_CHANNEL'|translate}}</h5>
          <iverify-charts [chartType]="1" [data]="ticketsByChannel"></iverify-charts>
        </div>
      </div>
      <div class="row m-3 p-4">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <h5 class="text-uppercase">{{'CURRENT_STATUS'|translate}}</h5>
          <iverify-charts [chartType]="3" [data]="ticketsByCurrentStatus"></iverify-charts>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <h5 class="text-uppercase">{{'STATUS_BY_WEEK'|translate}}</h5>
          <iverify-charts [chartType]="2" [data]="ticketsByWeek"></iverify-charts>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <h5 class="text-uppercase">{{'TICKETS_BY_AGENT'|translate}}</h5>
          <iverify-charts [chartType]="4" [data]="ticketsByAgents"></iverify-charts>
        </div>
      </div>
      <div class="row m-3 p-4">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <select class="custom-select" [(ngModel)]="selectedTimeType"
          (change)="getAllTicketsData()">
          <option selected [ngValue]="1">{{'RESPONSE_TIME'|translate}}</option>
          <option [ngValue]="2">{{'RESOLVE_TIME'|translate}}</option>          
        </select>
        </div>
        <div  class="col-sm-12 col-md-8 col-lg-8">
          <h5 class="text-uppercase">{{((selectedTimeType === 1) ? 'RESPONSE_TIME': 'RESOLVE_TIME')|translate}}</h5>
          <iverify-charts [chartType]="5" [data]="bubbleData" [responseType]="selectedTimeType"></iverify-charts>
          </div>
      </div>
    </div>
  </div>