<ngx-charts-bar-horizontal
  *ngIf="chartType === ChartTypeEnum.BAR"
  [view]="view"
  [scheme]="colorScheme[0]"
  [results]="data"
  [gradient]="false"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="false"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]=""
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>
</ngx-charts-bar-horizontal>
<ngx-charts-pie-chart
  *ngIf="chartType === ChartTypeEnum.PIE"
  [view]="[300, 200]"
  [scheme]="colorScheme[2]"
  [results]="data"
  [legend]="false"
  [labels]="true"
  [doughnut]="true"
  [legendPosition] = ""
  [legendTitle]="''"
  [labelFormatting]="pieChartLabel.bind(this, data)">
</ngx-charts-pie-chart>
<ngx-charts-bar-horizontal-stacked
  *ngIf="chartType === ChartTypeEnum.STACKED"
  [view]="view"
  [scheme]="colorScheme[2]"
  [results]="data"
  [gradient]="false"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="false"
  [gradient]="true"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]=""
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-horizontal-stacked>

<ngx-charts-line-chart
  *ngIf="chartType === ChartTypeEnum.LINE"
  [view]="[300, 200]"
  [scheme]="colorScheme[2]"
  [legend]="false"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxis]="true"
  [yAxis]="true"
  [curve]="curve"
  [xAxisLabel]="'Total Completed per week'"
  [yAxisLabel]="'Statuses'"
  [timeline]="true"
  [results]="data"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>
<ngx-charts-bubble-chart
  *ngIf="chartType === ChartTypeEnum.BUBBLE"
  [view]="[600,150]"
  [scheme]="colorScheme[3]"
  [results]="data"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="false"
  [showXAxisLabel]="true"
  [showYAxisLabel]="false"
  [yScaleMin]="1"
  [yScaleMax]="1"
  [xScaleMin]="1"
  [xScaleMax]="16"
  [showGridLines]="true"
  [minRadius]="10"
  [maxRadius]="10"
  [xAxisTicks]="[1, 4, 15]"
  [xAxisTickFormatting]="xticksFormatting"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-bubble-chart>
