@import '../../../../assets/scss/index';

.bg,
.bg .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg {
  // background-image: url('/assets/iVerify Wordmark Logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.bg .overlay {
  background-color: $undp-jtf-primary-color-transparent;
  z-index: -1;
}

.h4,
.btn-link {
  color: #fff;
  font-weight: 200;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  text-align: center;
  margin: 5px auto;
  .checkbox {
    font-weight: 400;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
  input[type='email'] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type='password'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.input-icon-right {
  position: absolute;
  top: 11px;
  right: 8px;
}

.footer {
  position: absolute;
  bottom: 6px;
  left: 8px;
  width: calc(100% - (8px * 2));
  color: #fff;
  opacity: 0.9;
  a {
    color: #fff;
    &:hover {
      color: $undp-jtf-accent-color;
      text-decoration: none;
    }
  }
}

.logo-center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
}
